.header-container {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
}
.header-links {
  color: black;
}
.header-home {
  display: none;
}
.header-logo {
  font-size: 30px;
}
.header-logo-favorite{
    font-size: 30px;
    color: rgb(227, 19, 19);
}
@media (min-width: 768px) {
  .header-logo {
    display: none;
  }
}
